/** Card **/

.card{
    @apply relative flex flex-col items-center bg-white shadow-lg hover:shadow-md p-4 md:p-0;
}

.card .card-header{
    @apply relative overflow-hidden aspect-4/3 3xl:aspect-15/9 w-full;
}
.card .card-body{
    @apply ml-4 md:ml-0 px-4 py-2 w-full;
}
.card .card-body .date{
    @apply font-semibold my-2;
}

.card .card-body .excerpt{
    @apply block;
}

/** Card Week **/
.card-week-day-event{
    @apply relative flex flex-col items-center bg-white shadow-theme p-4 lg:p-8;
}
.card-week-day-event .card-header{
    @apply w-full text-center;
}
.card-week-day-event .card-body{
    @apply w-full;
}
.card-week-day-event .card-body p{
    @apply font-light text-primary text-base;
}
.card-week-day-event .card-body .introduction p{
    @apply italic;
}
.card-week-day-event .card-body p.event-meta {
    @apply text-black;
}
.card-week-day-event.is-sunday{
    @apply bg-primary text-white;
}
.card-week-day-event.is-sunday .card-body p{
    @apply text-white;
}
.card-week-day-event.is-sunday .card-body p{
    @apply text-white;
}
.card-week-feature-art{
    @apply bg-white shadow-theme p-4 lg:p-8;
}
.card-week-feature-art h2{
    @apply mb-4;
}
.card-week-feature-art h3{
    @apply text-primary mb-4;
}

/** Event card **/
.card-wide{
    @apply flex flex-col sm:flex-row items-start bg-white shadow-theme hover:shadow-md p-5 mb-7;
}
.card-wide .card-header{
    @apply w-full mb-5 sm:mb-0 sm:w-[200px] md:w-[245px] relative block;
}
.card-wide .card-header .image-wrapper{
    @apply w-full sm:w-[200px] md:w-[245px] aspect-square overflow-hidden relative;
}
.card-wide .card-header .image-wrapper img{
    @apply absolute top-0 left-0 object-cover object-center duration-300;
}
.card-wide:hover .card-header .image-wrapper img{
    @apply scale-110;
}
.card-wide .card-body{
    @apply flex-1 sm:pl-5 lg:pl-[30px];
}
.card-wide .card-body .title{
    @apply text-xl font-prata text-primary mb-2;
}
.card-wide .card-body .date{
    @apply font-medium mb-2;
}
.card-wide .card-body .excerpt p{
    @apply font-light text-lg;
}
.card-wide .card-body .excerpt p a{
    @apply font-medium text-lg;
}

/** Card Page links**/

.card-pagelink{
    @apply relative flex flex-col items-center bg-white;
}

.card-pagelink .card-header{
    @apply relative overflow-hidden w-full pb-[calc(calc(310/247)_*_100%)];
}

.card-pagelink .card-header img{
    @apply absolute left-0 top-0 duration-300;
}
.card-pagelink:hover .card-header img{
    @apply scale-110;
}

.card-pagelink .card-body{
    @apply w-full absolute bottom-0 px-[18px] pb-2.5 min-h-[136px] flex items-end;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.42) 40%, rgba(0,0,0,1) 100%);
}

.card-pagelink .card-body .title{
    @apply text-white mb-0 text-lg duration-300;
}

.card-pagelink:hover .card-body .title{
    @apply text-tertiary;
}

/** Staff popup content **/
.magnific-popup-staff .mfp-content{
    @apply max-w-content-single bg-white my-20;
}
.staff-popup-content{
    @apply px-5 lg:px-[50px] pt-5 lg:pt-[45px] pb-16 lg:pb-32 after:content-[''];
}
.staff-popup-container{
    @apply after:content-[''] after:clear-both after:table;
}
.staff-popup-content .image-wrapper{
    @apply w-full sm:w-[200px] md:w-[250px] lg:w-[409px] aspect-square overflow-hidden relative md:float-right md:ml-5 mb-5;
}
.staff-popup-content .image-wrapper img{
    @apply absolute top-0 left-0 object-cover object-center duration-300;
}
.staff-popup-content .title{
    @apply text-xl font-prata text-primary mb-2;
}
.staff-popup-content h3{
    @apply my-2.5;
}
.magnific-popup-staff button.mfp-arrow{
    @apply before:hidden after:hidden;
}
.magnific-popup-staff .mfp-arrow{
    top: inherit;
    @apply bg-no-repeat bg-contain w-[48px] lg:w-[168px] h-[20px] bottom-10;
}
.magnific-popup-staff .mfp-arrow-left{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='167.703' height='21.676' viewBox='0 0 167.703 21.676'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_9' data-name='Rectangle 9' width='167.703' height='21.676' fill='%2390095c'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='arrows' transform='translate(27.703 21.676) rotate(180)'%3E%3Cg id='Group_7' data-name='Group 7' transform='translate(-140)' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_107' data-name='Path 107' d='M154.25,7.731H7.462c-.513,0-.931-.812-.931-1.816S6.949,4.1,7.462,4.1H154.25c.513,0,.929.814.929,1.816s-.416,1.816-.929,1.816' transform='translate(4.941 4.946)' fill='%2390095c'/%3E%3Cpath id='Path_108' data-name='Path 108' d='M0,21.675,10.412,10.839,0,0H11.408L21.821,10.839,11.408,21.675Z' transform='translate(0 0)' fill='%2390095c'/%3E%3Cpath id='Path_109' data-name='Path 109' d='M9.05,21.675,19.462,10.839,9.05,0H20.458L30.871,10.839,20.458,21.675Z' transform='translate(6.846 0)' fill='%2390095c'/%3E%3Cpath id='Path_110' data-name='Path 110' d='M18.1,21.675,28.512,10.839,18.1,0H29.508L39.92,10.839,29.508,21.675Z' transform='translate(13.692 0)' fill='%2390095c'/%3E%3Cpath id='Path_111' data-name='Path 111' d='M82.439.225l22.9,10.365-22.9,10.365S84.42,13.039,84.42,10.59,82.439.225,82.439.225' transform='translate(62.364 0.272)' fill='%2390095c'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: left center;
    @apply left-5 lg:left-[50px];
}
.magnific-popup-staff .mfp-arrow-right{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='167.703' height='21.676' viewBox='0 0 167.703 21.676'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_9' data-name='Rectangle 9' width='167.703' height='21.676' fill='%2390095c'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='arrows' transform='translate(140)'%3E%3Cg id='Group_7' data-name='Group 7' transform='translate(-140)' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_107' data-name='Path 107' d='M154.25,7.731H7.462c-.513,0-.931-.812-.931-1.816S6.949,4.1,7.462,4.1H154.25c.513,0,.929.814.929,1.816s-.416,1.816-.929,1.816' transform='translate(4.941 4.946)' fill='%2390095c'/%3E%3Cpath id='Path_108' data-name='Path 108' d='M0,21.675,10.412,10.839,0,0H11.408L21.821,10.839,11.408,21.675Z' transform='translate(0 0)' fill='%2390095c'/%3E%3Cpath id='Path_109' data-name='Path 109' d='M9.05,21.675,19.462,10.839,9.05,0H20.458L30.871,10.839,20.458,21.675Z' transform='translate(6.846 0)' fill='%2390095c'/%3E%3Cpath id='Path_110' data-name='Path 110' d='M18.1,21.675,28.512,10.839,18.1,0H29.508L39.92,10.839,29.508,21.675Z' transform='translate(13.692 0)' fill='%2390095c'/%3E%3Cpath id='Path_111' data-name='Path 111' d='M82.439.225l22.9,10.365-22.9,10.365S84.42,13.039,84.42,10.59,82.439.225,82.439.225' transform='translate(62.364 0.272)' fill='%2390095c'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: right center;
    @apply right-5 lg:right-[50px];
}
.magnific-popup-staff button.mfp-close{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30.757' height='30.848' viewBox='0 0 30.757 30.848'%3E%3Cpath id='close_X' data-name='close X' d='M28.455,25.383,40.1,13.849a2.307,2.307,0,0,0,.22-2.966,2.087,2.087,0,0,0-3.3-.22L25.379,22.308,13.735,10.663a2.087,2.087,0,0,0-3.3.22,2.307,2.307,0,0,0,.22,2.966L22.3,25.383,10.659,36.918a2.307,2.307,0,0,0-.22,2.966,2.087,2.087,0,0,0,3.3.22L25.379,28.459,37.024,40.1a2.087,2.087,0,0,0,3.3-.22,2.307,2.307,0,0,0-.22-2.966Z' transform='translate(-10.001 -9.959)' fill='%23fff'/%3E%3C/svg%3E%0A");
    @apply bg-center bg-no-repeat text-transparent -top-12 w-[31px] h-[31px];
}

/**
Magnific popup css for image gallery
**/

.magnific-popup-image-gallery button.mfp-arrow{
    @apply before:hidden after:hidden;
}
.magnific-popup-image-gallery .mfp-arrow{
    top: inherit;
    @apply bg-no-repeat bg-contain w-[48px] lg:w-[168px] h-[20px] mt-2.5 relative;
}
.magnific-popup-image-gallery .mfp-arrow-left{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='167.703' height='21.676' viewBox='0 0 167.703 21.676'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_9' data-name='Rectangle 9' width='167.703' height='21.676' fill='%23fff'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='arrows' transform='translate(-202.297 502.676) rotate(180)'%3E%3Cg id='Group_7' data-name='Group 7' transform='translate(-370 481)' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_107' data-name='Path 107' d='M154.25,7.731H7.462c-.513,0-.931-.812-.931-1.816S6.949,4.1,7.462,4.1H154.25c.513,0,.929.814.929,1.816s-.416,1.816-.929,1.816' transform='translate(4.941 4.946)' fill='%23fff'/%3E%3Cpath id='Path_108' data-name='Path 108' d='M0,21.675,10.412,10.839,0,0H11.408L21.821,10.839,11.408,21.675Z' transform='translate(0 0)' fill='%23fff'/%3E%3Cpath id='Path_109' data-name='Path 109' d='M9.05,21.675,19.462,10.839,9.05,0H20.458L30.871,10.839,20.458,21.675Z' transform='translate(6.846 0)' fill='%23fff'/%3E%3Cpath id='Path_110' data-name='Path 110' d='M18.1,21.675,28.512,10.839,18.1,0H29.508L39.92,10.839,29.508,21.675Z' transform='translate(13.692 0)' fill='%23fff'/%3E%3Cpath id='Path_111' data-name='Path 111' d='M82.439.225l22.9,10.365-22.9,10.365S84.42,13.039,84.42,10.59,82.439.225,82.439.225' transform='translate(62.364 0.272)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: left center;
    @apply left-0;
}
.magnific-popup-image-gallery .mfp-arrow-right{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='167.703' height='21.676' viewBox='0 0 167.703 21.676'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_9' data-name='Rectangle 9' width='167.703' height='21.676' fill='%23fff'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='arrows' transform='translate(370 -481)'%3E%3Cg id='Group_7' data-name='Group 7' transform='translate(-370 481)' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_107' data-name='Path 107' d='M154.25,7.731H7.462c-.513,0-.931-.812-.931-1.816S6.949,4.1,7.462,4.1H154.25c.513,0,.929.814.929,1.816s-.416,1.816-.929,1.816' transform='translate(4.941 4.946)' fill='%23fff'/%3E%3Cpath id='Path_108' data-name='Path 108' d='M0,21.675,10.412,10.839,0,0H11.408L21.821,10.839,11.408,21.675Z' transform='translate(0 0)' fill='%23fff'/%3E%3Cpath id='Path_109' data-name='Path 109' d='M9.05,21.675,19.462,10.839,9.05,0H20.458L30.871,10.839,20.458,21.675Z' transform='translate(6.846 0)' fill='%23fff'/%3E%3Cpath id='Path_110' data-name='Path 110' d='M18.1,21.675,28.512,10.839,18.1,0H29.508L39.92,10.839,29.508,21.675Z' transform='translate(13.692 0)' fill='%23fff'/%3E%3Cpath id='Path_111' data-name='Path 111' d='M82.439.225l22.9,10.365-22.9,10.365S84.42,13.039,84.42,10.59,82.439.225,82.439.225' transform='translate(62.364 0.272)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: right center;
    @apply right-0;
}
.magnific-popup-image-gallery button.mfp-close{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30.757' height='30.848' viewBox='0 0 30.757 30.848'%3E%3Cpath id='close_X' data-name='close X' d='M28.455,25.383,40.1,13.849a2.307,2.307,0,0,0,.22-2.966,2.087,2.087,0,0,0-3.3-.22L25.379,22.308,13.735,10.663a2.087,2.087,0,0,0-3.3.22,2.307,2.307,0,0,0,.22,2.966L22.3,25.383,10.659,36.918a2.307,2.307,0,0,0-.22,2.966,2.087,2.087,0,0,0,3.3.22L25.379,28.459,37.024,40.1a2.087,2.087,0,0,0,3.3-.22,2.307,2.307,0,0,0-.22-2.966Z' transform='translate(-10.001 -9.959)' fill='%23fff'/%3E%3C/svg%3E%0A");
    @apply bg-center bg-no-repeat text-transparent -top-12 w-[31px] h-[31px];
}
.magnific-popup-image-gallery img.mfp-img{
    @apply pt-0;
}
.magnific-popup-image-gallery .mfp-bottom-bar{
    @apply flex justify-between py-5;
}
.magnific-popup-image-gallery .mfp-bottom-bar .mfp-title{
    @apply text-center flex-1 text-mxl leading-tight tracking-[0.15em] uppercase font-medium px-2.5 self-center;
}

/** On page banner intro component **/
.banner-intro{
    @apply px-0 max-w-[calc(100%_-_1.5rem)] lg:max-w-[calc(100%_-_3rem)] min-[1200px]:max-w-content-single;
}
.banner-intro.archive-intro{
    @apply min-[1400px]:max-w-content-desktop;
}
.banner-intro.has-banner{
    @apply -mt-[10%] lg:mt-[-12.375rem] 
}

.banner-intro .content .text-content p{
    @apply font-light text-lg last:mb-2.5;
}
.banner-intro .content p a{
    @apply font-medium;
}
.banner-intro .content .text-content p:first-child{
    @apply font-medium first-letter:text-5xl first-letter:float-left first-letter:font-prata first-letter:mr-2.5 first-letter:mt-3.5 first-letter:inline-block first-letter:leading-[0.85];
}
.banner-intro .content .text-content p:nth-child(2){
    @apply clear-both;
}

/** Mailchimp form fields **/
.mc4wp-form-fields{
    @apply md:grid md:grid-cols-4 md:gap-3 max-w-[975px];
}
.mc4wp-response .mc4wp-alert{
    @apply text-sm;
}
.mc4wp-response .mc4wp-error{
    @apply text-rose-700;
}
.mc4wp-response .mc4wp-success{
    @apply text-emerald-700;
}
.mc4wp-form-fields > div:not(.mc4wp-text-paragraph){
    @apply mb-1 md:mb-0;
}
.mc4wp-text-paragraph{
    @apply mb-5 lg:mb-16 pt-5 lg:pt-10 col-span-4 max-w-[715px] text-lg font-medium;
}
.mc4wp-form-fields .mc4wp-submit-wrap{
    @apply inline-flex pt-2 md:pt-0 md:block;
}
.mc4wp-form-fields .mc4wp-submit-wrap button,.mc4wp-form-fields .mc4wp-submit-wrap input[type="submit"]{
    @apply mx-auto;
}