#post-content p a{
    @apply no-underline hover:no-underline relative pb-0.5 inline-block text-primary;
    @apply after:content-[''] after:absolute after:w-0 after:h-[2px] md:after:h-[3px] after:left-0 after:bottom-0 hover:after:w-full after:bg-primary after:ease-linear after:duration-300 after:rounded-[2px];
}

#post-content ul:not(.taxonomy-list){
    @apply list-disc list-inside;
}
#post-content ol{
    @apply list-decimal list-inside;
}

.alignright{
    float:right;
}
.alignleft{
    float:left;
}

#page-content #post-content blockquote.wp-block-quote cite,
.wp-block-pullquote cite{
    @apply uppercase;
}

#page-content #post-content blockquote.wp-block-quote{
    @apply border-l-0;
}
#page-content #post-content blockquote.wp-block-quote,
.wp-block-pullquote{
    @apply relative pb-2 md:pb-4 mt-8 leading-normal after:content-[''] after:w-1/4 lg:after:w-[184px] after:absolute after:h-[2px] md:after:h-[4px] after:bg-primary after:bottom-0 after:left-0;
}
#page-content #post-content blockquote.wp-block-quote p,
.wp-block-pullquote p{
    @apply last:mb-0;
}


.wp-block-pullquote.alignleft, .wp-block-pullquote.alignright{
    @apply max-w-full md:max-w-[420px];
}
body .is-layout-constrained > .alignright{
    @apply ms-0 md:ms-4;
}
figure.wp-block-gallery.has-nested-images figure.wp-block-image figcaption {
    @apply text-1xbase font-light pt-3 text-black relative bg-none text-left mt-0 px-0;
}
figure.wp-block-gallery.has-nested-images figure.wp-block-image img{
    @apply h-full max-h-[411px];
}
figure.wp-block-gallery.has-nested-images{
    @apply mb-3.5;
}
.wp-block-image.alignright{
    margin: 0 0 1em 1em;
}
.wp-block-image.alignleft{
    margin: 0 1em 1em 0;
}
.has-drop-cap:not(:focus) {
    @apply font-medium first-letter:text-5xl first-letter:float-left first-letter:font-prata first-letter:mr-2.5 first-letter:mt-3.5 first-letter:inline-block first-letter:leading-[0.85];
}

/** Accordion **/
.c-accordion__item{
    @apply border-b-2 border-b-secondary py-4;
}
.c-accordion__title{
    @apply py-0.5 pr-6 cursor-pointer after:content-[''] after:bg-no-repeat after:bg-center after:w-[15px] after:h-[15px] relative after:absolute after:right-0 after:top-[14px];
}
.c-accordion__title:after{
    transform: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.551' height='14.481' viewBox='0 0 14.551 14.481'%3E%3Cg id='Group_184' data-name='Group 184' transform='translate(0 0)'%3E%3Cpath id='Icon_ionic-ios-arrow-down' data-name='Icon ionic-ios-arrow-down' d='M13.466,17.058l5.5-5.506a1.035,1.035,0,0,1,1.469,0,1.049,1.049,0,0,1,0,1.473L14.2,19.263a1.038,1.038,0,0,1-1.434.03L6.491,13.029a1.04,1.04,0,1,1,1.469-1.473Z' transform='translate(-6.188 -11.247)' fill='%23900942'/%3E%3Cpath id='Icon_ionic-ios-arrow-down-2' data-name='Icon ionic-ios-arrow-down' d='M13.466,17.058l5.5-5.506a1.035,1.035,0,0,1,1.469,0,1.049,1.049,0,0,1,0,1.473L14.2,19.263a1.038,1.038,0,0,1-1.434.03L6.491,13.029a1.04,1.04,0,1,1,1.469-1.473Z' transform='translate(-6.188 -5.085)' fill='%23900942'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.is-open>.c-accordion__title:after{
    @apply rotate-180 content-[''];
}

.wp-block-group.alignwide{
    @apply px-6 lg:px-8 -mx-6 lg:mx-[calc(-100vw_/_2_+_100%_/_2)];
}