@import "tailwindcss/base";

@layer base {
    h1, .h1{
        @apply text-3xl font-prata;
    }
    h2, .h2{
        @apply text-2xl font-prata;
    }
    h3, .h3{
        @apply text-lg font-prata;
    }
    h4{
        @apply text-mxl font-medium font-theme tracking-[0.15em] mb-4 lg:mb-6;
    }
    h5{
        @apply text-lg font-medium;
    }
    h6{
        @apply text-base;
    }
    p{
        @apply mb-2.5;
    }
}

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "slick";
@import "slick-theme";
@import "select2";
@import "../../node_modules/magnific-popup/dist/magnific-popup.css";
@import 'typography';
@import 'gutenburg';
@import 'components';
@import 'buttons';
@import 'blocks/blocks';

body{
    @apply pt-[85px] md:pt-[121px] lg:pt-[146px] xl:pt-[213px] overflow-x-hidden;
}
body.home{
    @apply xl:pt-[313px];
}

input[type="text"],
input[type="search"],
input[type="url"],
input[type="email"],
input[type="number"]{
    @apply w-full border-b-2 md:border-b-4 border-[#D8D8D8] bg-transparent focus:outline-none focus:border-primary text-lg font-light placeholder:text-black placeholder:text-lg placeholder:font-light;
}

#page.site{
    @apply bg-[url('../images/footer-bg-mobile.png')] md:bg-[url('../images/footer-bg.png')] bg-no-repeat bg-[center_bottom_350px] lg:bg-[center_bottom_280px] xl:bg-[center_bottom] bg-contain 2xl:bg-auto;
}

.home #banner-container{
    @apply bg-transparent;
}

/** header **/
.site-header{
    @apply max-w-[1920px] mx-auto border-b-[5px] lg:border-b-[8px] xl:border-b-[16px] border-b-primary;
}
.site-header .logo-container{
    @apply w-[3.75rem] md:w-[5.5rem] xl:w-40 xl:w-48 duration-300;
}
.site-header .logo-container img{
    @apply duration-300 xl:mx-auto;
}
.site-header.is-sticky .logo-container{
    @apply md:w-[80px];
}
.home .site-header{
    @apply border-b-0;
}
/** Desktop header navigation **/
#masthead{
    @apply w-full top-0 left-0 z-10 bg-white/[.8];
}
.admin-bar #masthead{
    @apply top-[32px];
}
.home .topbar{
    @apply bg-[#F2F0F5];
}
.topbar .support-link a{
    @apply font-prata text-primary text-base no-underline relative after:content-[''] after:absolute after:w-0 after:h-0.5 after:left-0 after:bottom-0 hover:after:w-full after:bg-primary after:ease-linear after:duration-300;
}
.top-navigation ul > li{
    @apply relative px-5 last:pr-0 before:content-[''] before:w-0.5 before:h-6 before:absolute before:left-0 before:top-0 before:bottom-0 before:my-auto before:bg-black;
}
.top-navigation ul > li > a{
    @apply text-base text-primary tracking-[0.15em] uppercase font-medium font-theme no-underline relative after:content-[''] after:absolute after:w-0 after:h-0.5 after:left-0 after:bottom-0 hover:after:w-full after:bg-primary after:ease-linear after:duration-300;
}
#header-navigation .desktop-main-navigation ul#primary-menu-list > li.menu-item{
    @apply xl:pr-12 2xl:pr-24 text-neutral-800 last:pr-0;
}
#header-navigation .desktop-main-navigation ul#primary-menu-list > li.menu-item > a{
    @apply inline-block font-theme pb-0.5 text-lg tracking-[0.15em] uppercase font-medium no-underline relative after:content-[''] after:absolute after:w-0 after:h-1 after:left-0 after:bottom-0 hover:after:w-full after:bg-primary after:ease-linear after:rounded-[2px] after:duration-300;
}
#header-navigation .desktop-main-navigation ul#primary-menu-list > li.menu-item-has-children{
    @apply static;
}
#header-navigation .desktop-main-navigation ul#primary-menu-list > li.menu-item-has-children .dropdown-menu{
    @apply block w-full absolute left-0 bg-white/[.95] max-h-0 overflow-hidden top-full duration-300;
}
#header-navigation .desktop-main-navigation ul#primary-menu-list > li.menu-item-has-children .dropdown-menu.toggled{
    @apply pt-[44px] pb-10 border-b-[16px] border-b-primary max-h-[625px];
}

#header-navigation .desktop-main-navigation ul#primary-menu-list > li.menu-item-has-children .dropdown-menu.toggled::-webkit-scrollbar {
    @apply w-[14px];
}
  
/* Track */
#header-navigation .desktop-main-navigation ul#primary-menu-list > li.menu-item-has-children .dropdown-menu.toggled::-webkit-scrollbar-track {
    @apply bg-transparent;
}
   
/* Handle */
#header-navigation .desktop-main-navigation ul#primary-menu-list > li.menu-item-has-children .dropdown-menu.toggled::-webkit-scrollbar-thumb {
    @apply bg-primary/[.79] rounded-[14px];
}
  
/* Handle on hover */
#header-navigation .desktop-main-navigation ul#primary-menu-list > li.menu-item-has-children .dropdown-menu.toggled::-webkit-scrollbar-thumb:hover {
    @apply bg-primary cursor-pointer; 
}

#header-navigation .desktop-main-navigation ul#primary-menu-list > li.menu-item-has-children .megamenu-content{
    @apply block w-full max-w-[1240px] mx-auto relative;
}
#header-navigation .desktop-main-navigation ul#primary-menu-list > li.menu-item-has-children .megamenu-content .row{
    @apply grid auto-cols-[minmax(_200px,_226px)] gap-[26px] grid-flow-col justify-center;
}
#header-navigation .desktop-main-navigation ul#primary-menu-list > li .megamenu-content a{
    @apply no-underline hover:no-underline;
}
#header-navigation .desktop-main-navigation ul#primary-menu-list > li .megamenu-content .menu-item-image-title span{
    @apply font-medium text-lg mb-3 tracking-[0.15em] uppercase text-[#262525] inline-block relative after:content-[''] after:absolute after:w-0 after:h-1 after:left-0 after:bottom-0 hover:after:w-full after:bg-primary after:ease-linear after:duration-300 after:rounded-[2px];
}
#header-navigation .desktop-main-navigation ul#primary-menu-list > li .megamenu-content .menu-item-image-title:hover img{
    @apply scale-110;
}
#header-navigation .desktop-main-navigation ul#primary-menu-list > li .elementy-ul li{
    @apply mb-3 leading-none;
}
#header-navigation .desktop-main-navigation ul#primary-menu-list > li .elementy-ul a{
    @apply font-light text-base tracking-[0.15em] uppercase leading-none hover:text-primary;
}
#header-navigation .desktop-main-navigation .close-megamenu{
    @apply bg-no-repeat bg-left text-1xbase tracking-[0.15em] uppercase font-medium text-[#262525] right-5 bottom-5 absolute pl-9;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21.759' height='21.824' viewBox='0 0 21.759 21.824'%3E%3Cpath id='close_X' data-name='close X' d='M23.057,20.871l8.238-8.16a1.632,1.632,0,0,0,.155-2.1,1.477,1.477,0,0,0-2.332-.155L20.881,18.7l-8.238-8.238a1.477,1.477,0,0,0-2.332.155,1.632,1.632,0,0,0,.155,2.1l8.238,8.16-8.238,8.16a1.632,1.632,0,0,0-.155,2.1,1.477,1.477,0,0,0,2.332.155l8.238-8.238,8.238,8.238a1.477,1.477,0,0,0,2.332-.155,1.632,1.632,0,0,0-.155-2.1Z' transform='translate(-10.001 -9.959)' fill='%23900942'/%3E%3C/svg%3E%0A");
}
.site-branding-col{
    @apply xl:w-[148px];
}
.site-navigation-col{
    @apply xl:w-[calc(100%_-_296px)];
}
/** Mobile header navigation **/

/** content **/
section{
    @apply mt-8 last:mb-8;
}
.taxonomy-list a{
    @apply text-lg tracking-[0.15em] uppercase font-medium !no-underline relative pb-3 inline-block;
    @apply before:content-[''] before:absolute before:w-full before:h-1 before:left-0 before:bottom-0 before:bg-[#EFEAED] before:rounded-[2px];
    @apply after:content-[''] after:absolute after:w-0 after:h-1 after:left-0 after:bottom-0 hover:after:w-full after:bg-primary after:ease-linear after:duration-300 after:rounded-[2px];
}
.taxonomy-list a.active{
    @apply before:bg-primary;
}

/** Pagination **/

.pagination-container .navigation .nav-prev{
    @apply pl-14 lg:pl-[112px] inline relative font-theme font-medium after:absolute after:left-0 after:top-0 after:bg-no-repeat after:bg-contain after:content-[''] after:w-[48px] lg:after:w-[100px] after:h-full;
}
.pagination-container .navigation .nav-next{
    @apply pr-14 lg:pr-[112px] inline relative font-theme font-medium after:absolute after:right-0 after:top-0 after:bg-no-repeat after:bg-contain after:content-[''] after:w-[48px] lg:after:w-[100px] after:h-full;
}
.pagination-container .navigation .nav-prev span,
.pagination-container .navigation .nav-next span{
    @apply text-lg font-medium;
}
.pagination-container .navigation a.nav-prev,
.pagination-container .navigation a.nav-next{
    @apply text-primary no-underline hover:no-underline after:origin-top hover:translate-y-0 after:duration-300;
}
.pagination-container .navigation a.nav-prev{
    @apply hover:after:-translate-x-4;
}
.pagination-container .navigation a.nav-next{
    @apply hover:after:translate-x-4;
}
.pagination-container .navigation .nav-prev:after{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100.579' height='13' viewBox='0 0 100.579 13'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_9' data-name='Rectangle 9' width='100.579' height='13' fill='%2390095c'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='arrow' transform='translate(100.579 13) rotate(180)'%3E%3Cg id='Group_7' data-name='Group 7' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_107' data-name='Path 107' d='M95.125,6.278H7.089c-.308,0-.558-.487-.558-1.089S6.782,4.1,7.089,4.1H95.125c.308,0,.557.488.557,1.089s-.25,1.089-.557,1.089' transform='translate(0.349 1.325)' fill='%2390095c'/%3E%3Cpath id='Path_108' data-name='Path 108' d='M0,13,6.245,6.5,0,0H6.842l6.245,6.5L6.842,13Z' transform='translate(0 0)' fill='%2390095c'/%3E%3Cpath id='Path_109' data-name='Path 109' d='M9.05,13l6.245-6.5L9.05,0h6.842l6.245,6.5L15.892,13Z' transform='translate(0.484 0)' fill='%2390095c'/%3E%3Cpath id='Path_110' data-name='Path 110' d='M18.1,13l6.245-6.5L18.1,0h6.842l6.245,6.5L24.942,13Z' transform='translate(0.967 0)' fill='%2390095c'/%3E%3Cpath id='Path_111' data-name='Path 111' d='M82.439.225,96.173,6.441,82.439,12.657a47.054,47.054,0,0,0,1.188-6.216A47.054,47.054,0,0,0,82.439.225' transform='translate(4.406 0.073)' fill='%2390095c'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: left center;
}
.pagination-container .navigation .nav-next:after{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100.579' height='13' viewBox='0 0 100.579 13'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_9' data-name='Rectangle 9' width='100.579' height='13' fill='%2390095c'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_7' data-name='Group 7' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_107' data-name='Path 107' d='M95.125,6.278H7.089c-.308,0-.558-.487-.558-1.089S6.782,4.1,7.089,4.1H95.125c.308,0,.557.488.557,1.089s-.25,1.089-.557,1.089' transform='translate(0.349 1.325)' fill='%2390095c'/%3E%3Cpath id='Path_108' data-name='Path 108' d='M0,13,6.245,6.5,0,0H6.842l6.245,6.5L6.842,13Z' transform='translate(0 0)' fill='%2390095c'/%3E%3Cpath id='Path_109' data-name='Path 109' d='M9.05,13l6.245-6.5L9.05,0h6.842l6.245,6.5L15.892,13Z' transform='translate(0.484 0)' fill='%2390095c'/%3E%3Cpath id='Path_110' data-name='Path 110' d='M18.1,13l6.245-6.5L18.1,0h6.842l6.245,6.5L24.942,13Z' transform='translate(0.967 0)' fill='%2390095c'/%3E%3Cpath id='Path_111' data-name='Path 111' d='M82.439.225,96.173,6.441,82.439,12.657a47.054,47.054,0,0,0,1.188-6.216A47.054,47.054,0,0,0,82.439.225' transform='translate(4.406 0.073)' fill='%2390095c'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: right center;
}
.pagination-container .navigation ul{
    @apply hidden md:flex justify-center;
}
.pagination-container .navigation ul li{
    @apply px-2.5 mr-[1px] last:mr-0;
}
.pagination-container .navigation ul li a{
    @apply font-theme font-light text-xl text-black hover:no-underline hover:text-primary;
}
.pagination-container .navigation ul li.active a{
    @apply font-theme font-medium text-xl text-primary underline hover:no-underline hover:text-primary;
}

.breadcrumbs{
    @apply uppercase tracking-[0.15em] text-1xbase font-theme text-[#8B8A8A] font-medium mb-4;
}
.breadcrumbs a{
    @apply font-theme text-[#8B8A8A] hover:text-primary;
}

.week-nav-prev,
.week-nav-next{
    @apply relative;
}
.week-nav-prev a{
    @apply pl-11 hover:no-underline hover:text-primary;
}
.week-nav-next a{
    @apply pr-11 hover:no-underline hover:text-primary;
}
.week-nav-prev .icon-prev{
    @apply inline-block bg-no-repeat bg-center w-[11px] h-full absolute left-0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.494' height='17.876' viewBox='0 0 10.494 17.876'%3E%3Cpath id='_Compound_Path_' data-name='&lt;Compound Path&gt;' d='M10.1,15.7a1.238,1.238,0,1,1-1.7,1.8L.4,9.8A1.2,1.2,0,0,1,.4,8L8.4.3a1.238,1.238,0,0,1,1.7,1.8L3,8.9Z' transform='translate(0.006 0.038)' fill='%23852124'/%3E%3C/svg%3E%0A");
}
.week-nav-next .icon-next{
    @apply inline-block bg-no-repeat bg-center w-[11px] h-full absolute right-0 pr-9;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.494' height='17.876' viewBox='0 0 10.494 17.876'%3E%3Cpath id='_Compound_Path_' data-name='&lt;Compound Path&gt;' d='M10.106,15.738a1.238,1.238,0,1,1-1.7,1.8l-8-7.7a1.2,1.2,0,0,1,0-1.8l8-7.7a1.238,1.238,0,0,1,1.7,1.8l-7.1,6.8Z' transform='translate(10.494 17.876) rotate(180)' fill='%23852124'/%3E%3C/svg%3E%0A");
}
/** Footer **/
.site-footer{
    @apply mt-[50%] md:mt-[35%] 2xl:mt-[721px];
}
/** footer navigation **/
#footer-quick-links ul > li{
    @apply pr-4 last:pr-0 text-lg font-medium text-center;
}
#footer-quick-links ul > li.separator{
    @apply text-primary hidden lg:block;
}
.site-footer .social-links li{
    @apply pr-7 last:pr-0;
}
.site-footer .social-links li a{
    @apply text-primary text-xl2;
}
.site-info a{
    @apply text-black hover:no-underline hover:text-primary font-light;
}
.site-info span{
    @apply last:hidden;
}

/* Mobile navigation*/
#offcanvas-menu-container{
    @apply before:content-[''] before:h-full before:w-[9px] before:absolute before:left-0 before:top-0 before:bg-primary before:z-10;
}
#offcanvas-menu-container .main-menu{
    @apply pl-7;
}
#offcanvas-menu-container .menu-items ul {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    z-index: 3;
}
#offcanvas-menu-container .primary-menu-container > ul > li > .sub-menu {
    @apply fixed top-0 left-0 h-full w-full overflow-y-auto z-[1] p-7 bg-white;    
    transform: translateX(150%);
    transition: all 0.3s ease-in-out;
}
#offcanvas-menu-container .primary-menu-container > ul > li,
#offcanvas-menu-container .primary-menu-container > ul > li > ul > li {
    @apply border-b-2 border-[#d9d8d8]/[.5] pb-4 mb-4;
}
#offcanvas-menu-container .primary-menu-container > ul > li > .sub-menu.active{
    transform: translateX(0);
}
#offcanvas-menu-container .primary-menu-container > ul > li > .sub-menu .sub-menu{
    @apply relative max-h-0 overflow-hidden;
}
#offcanvas-menu-container .primary-menu-container > ul > li > .sub-menu .sub-menu.active{
    @apply max-h-[1000px];
    transition: 0.3s ease max-height;
}
#offcanvas-menu-container .primary-menu-container > ul > li > .sub-menu .sub-menu > li:first-child{
    @apply hidden border-0;
}
#offcanvas-menu-container .primary-menu-container > ul > li > .sub-menu .sub-menu > li:nth-child(2){
    @apply hidden border-0;
}
#offcanvas-menu-container .primary-menu-container > ul > li > .sub-menu > li:first-child{
    @apply border-0;
}
#offcanvas-menu-container .primary-menu-container > ul > li > .sub-menu > li:nth-child(2){
    @apply border-0;
}
#offcanvas-menu-container .primary-menu-container > ul > li > .sub-menu > li:nth-child(2) a{
    @apply text-primary tracking-[0.15em] uppercase font-medium;
    font-size: 22px;
}
#offcanvas-menu-container .primary-menu-container > ul > li > .sub-menu > li:first-child a{
    @apply uppercase tracking-[0.15em] font-medium font-theme;
    font-size: 18px;
}

#offcanvas-menu-container .primary-menu-container > ul > li > a{
    @apply relative block pr-[50px] uppercase tracking-[0.15em] text-mxl font-medium hover:no-underline;
}
#offcanvas-menu-container .primary-menu-container > ul > .menu-item-has-children > a > i{
    @apply w-[50px] h-[35px] absolute right-0 bg-no-repeat top-0;
    background-image: url("data:image/svg+xml,%3Csvg id='arrow' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='47.63' height='6.156' viewBox='0 0 47.63 6.156'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_9' data-name='Rectangle 9' width='47.63' height='6.156' fill='%2390095c'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_7' data-name='Group 7' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_107' data-name='Path 107' d='M48.485,5.131H6.8c-.146,0-.264-.231-.264-.516S6.65,4.1,6.8,4.1h41.69c.146,0,.264.231.264.516s-.118.516-.264.516' transform='translate(-3.273 -1.531)' fill='%2390095c'/%3E%3Cpath id='Path_108' data-name='Path 108' d='M0,6.156,2.957,3.078,0,0H3.24L6.2,3.078,3.24,6.156Z' transform='translate(0 0)' fill='%2390095c'/%3E%3Cpath id='Path_109' data-name='Path 109' d='M9.05,6.156l2.957-3.078L9.05,0h3.24l2.957,3.078L12.29,6.156Z' transform='translate(-4.535 0)' fill='%2390095c'/%3E%3Cpath id='Path_110' data-name='Path 110' d='M18.1,6.156l2.957-3.078L18.1,0h3.24L24.3,3.078,21.34,6.156Z' transform='translate(-9.07 0)' fill='%2390095c'/%3E%3Cpath id='Path_111' data-name='Path 111' d='M82.439.225l6.5,2.944-6.5,2.944A22.283,22.283,0,0,0,83,3.169,22.283,22.283,0,0,0,82.439.225' transform='translate(-41.313 -0.084)' fill='%2390095c'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center;
}
#offcanvas-menu-container .primary-menu-container > ul > li > ul > li > a:not(.mob-menu-back){
    @apply relative block pr-[40px] uppercase tracking-[0.15em] font-medium hover:no-underline;
    font-size: 18px;
}
#offcanvas-menu-container .primary-menu-container > ul > li > ul > li.menu-item-has-children > a > i{
    @apply w-[35px] h-[35px] absolute right-0 bg-no-repeat top-0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.524' height='14.524' viewBox='0 0 14.524 14.524'%3E%3Cpath id='close_X' data-name='close X' d='M16.154,15.1l3.882-3.846a.769.769,0,0,0,.073-.989.7.7,0,0,0-1.1-.073l-3.882,3.882-3.882-3.882a.7.7,0,0,0-1.1.073.769.769,0,0,0,.073.989L14.1,15.1,10.22,18.948a.769.769,0,0,0-.073.989.7.7,0,0,0,1.1.073l3.882-3.882,3.882,3.882a.7.7,0,0,0,1.1-.073.769.769,0,0,0-.073-.989Z' transform='translate(7.243 -14.114) rotate(45)' fill='%23900942'/%3E%3C/svg%3E%0A");
    background-position: center;
}
#offcanvas-menu-container .primary-menu-container > ul > li > ul > li.menu-item-has-children > a.is-active{
    @apply text-primary hover:no-underline;
}
#offcanvas-menu-container .primary-menu-container > ul > li > ul > li.menu-item-has-children > a.is-active > i{
    @apply rotate-45;
}
#offcanvas-menu-container .primary-menu-container > ul > li > ul ul a{
    @apply uppercase tracking-[0.15em] font-light text-[#262525];
    font-size: 16px;
}
#offcanvas-menu-container .support-link a{
    @apply font-prata text-primary no-underline relative after:content-[''] after:absolute after:w-0 after:h-0.5 after:left-0 after:bottom-0 hover:after:w-full after:bg-primary after:ease-linear after:duration-300;
    font-size: 14px;
    line-height: 32px;
}
#offcanvas-menu-container .top-navigation ul > li a{
    @apply normal-case;
}
#offcanvas-menu-container .top-navigation ul > li::before{
    @apply h-[16px];
}
#offcanvas-menu-container .top-navigation ul > li:first-child{
    @apply pl-0;
}
#offcanvas-menu-container .top-navigation ul > li:first-child::before{
    @apply hidden;
}

.share-this-page .addtoany_list{
    @apply flex items-center;
}
.share-this-page .addtoany_list a:not(.addtoany_special_service)>span{
	border-radius:100% !important;
	padding: 3px;
    display: block;
}