.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.sticky {
    position: sticky;
}

.-left-full {
    left: -100%;
}

.-top-12 {
    top: -3rem;
}

.bottom-0 {
    bottom: 0px;
}

.bottom-5 {
    bottom: 1.25rem;
}

.left-0 {
    left: 0px;
}

.left-5 {
    left: 1.25rem;
}

.left-6 {
    left: 1.5rem;
}

.right-0 {
    right: 0px;
}

.right-2 {
    right: 0.5rem;
}

.right-4 {
    right: 1rem;
}

.right-5 {
    right: 1.25rem;
}

.right-7 {
    right: 1.75rem;
}

.top-0 {
    top: 0px;
}

.top-1 {
    top: 0.25rem;
}

.top-1\.5 {
    top: 0.375rem;
}

.top-2 {
    top: 0.5rem;
}

.top-2\.5 {
    top: 0.625rem;
}

.top-4 {
    top: 1rem;
}

.top-5 {
    top: 1.25rem;
}

.top-\[32px\] {
    top: 32px;
}

.top-full {
    top: 100%;
}

.z-10 {
    z-index: 10;
}

.z-50 {
    z-index: 50;
}

.z-\[1000\] {
    z-index: 1000;
}

.z-\[1\] {
    z-index: 1;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.col-span-12 {
    grid-column: span 12 / span 12;
}

.col-span-2 {
    grid-column: span 2 / span 2;
}

.col-span-4 {
    grid-column: span 4 / span 4;
}

.m-0 {
    margin: 0px;
}

.m-auto {
    margin: auto;
}

.-mx-6 {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.-mt-\[10\%\] {
    margin-top: -10%;
}

.mb-0 {
    margin-bottom: 0px;
}

.mb-1 {
    margin-bottom: 0.25rem;
}

.mb-11 {
    margin-bottom: 2.75rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mb-2\.5 {
    margin-bottom: 0.625rem;
}

.mb-3 {
    margin-bottom: 0.75rem;
}

.mb-3\.5 {
    margin-bottom: 0.875rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.mb-5 {
    margin-bottom: 1.25rem;
}

.mb-6 {
    margin-bottom: 1.5rem;
}

.mb-8 {
    margin-bottom: 2rem;
}

.mb-9 {
    margin-bottom: 2.25rem;
}

.ml-1 {
    margin-left: 0.25rem;
}

.ml-4 {
    margin-left: 1rem;
}

.mr-1 {
    margin-right: 0.25rem;
}

.mr-2 {
    margin-right: 0.5rem;
}

.mr-2\.5 {
    margin-right: 0.625rem;
}

.mr-3 {
    margin-right: 0.75rem;
}

.mr-3\.5 {
    margin-right: 0.875rem;
}

.mr-4 {
    margin-right: 1rem;
}

.mr-5 {
    margin-right: 1.25rem;
}

.mr-\[1px\] {
    margin-right: 1px;
}

.ms-0 {
    margin-inline-start: 0px;
}

.mt-0 {
    margin-top: 0px;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mt-2\.5 {
    margin-top: 0.625rem;
}

.mt-4 {
    margin-top: 1rem;
}

.mt-6 {
    margin-top: 1.5rem;
}

.mt-8 {
    margin-top: 2rem;
}

.mt-\[50\%\] {
    margin-top: 50%;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.table {
    display: table;
}

.grid {
    display: grid;
}

.hidden {
    display: none;
}

.w-full {
    width: 100%;
}

.flex-1 {
    flex: 1 1 0%;
}

.flex-grow {
    flex-grow: 1;
}

.aspect-square {
    aspect-ratio: 1 / 1;
}

.aspect-square > img {
    min-height: 100%;
}

.rotate-180 {
    --tw-rotate: 180deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer {
    cursor: pointer;
}

.resize {
    resize: both;
}

.list-decimal {
    list-style-type: decimal;
}

.list-disc {
    list-style-type: disc;
}

.auto-cols-\[minmax\(_200px\2c _226px\)\] {
    grid-auto-columns: minmax(200px, 226px);
}

.grid-flow-col {
    grid-auto-flow: column;
}

.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.items-start {
    align-items: flex-start;
}

.items-end {
    align-items: flex-end;
}

.items-center {
    align-items: center;
}

.items-baseline {
    align-items: baseline;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.gap-0 {
    gap: 0px;
}

.gap-2 {
    gap: 0.5rem;
}

.gap-4 {
    gap: 1rem;
}

.gap-\[26px\] {
    gap: 26px;
}

.self-start {
    align-self: flex-start;
}

.self-end {
    align-self: flex-end;
}

.self-center {
    align-self: center;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-y-auto {
    overflow-y: auto;
}

.whitespace-nowrap {
    white-space: nowrap;
}

.rounded-\[14px\] {
    border-radius: 14px;
}

.rounded-full {
    border-radius: 9999px;
}

.rounded-none {
    border-radius: 0px;
}

.border {
    border-width: 3px;
}

.border-0 {
    border-width: 0;
}

.border-2 {
    border-width: 2px;
}

.border-b-2 {
    border-bottom-width: 2px;
}

.border-b-\[16px\] {
    border-bottom-width: 16px;
}

.border-b-\[1px\] {
    border-bottom-width: 1px;
}

.border-b-\[5px\] {
    border-bottom-width: 5px;
}

.border-t-2 {
    border-top-width: 2px;
}

.border-\[\#D8D8D8\] {
    --tw-border-opacity: 1;
    border-color: rgb(216 216 216 / var(--tw-border-opacity));
}

.border-\[\#d9d8d8\]\/\[\.5\] {
    border-color: rgb(217 216 216 / .5);
}

.border-secondary {
    --tw-border-opacity: 1;
    border-color: rgb(221 219 219 / var(--tw-border-opacity));
}

.border-b-primary {
    --tw-border-opacity: 1;
    border-bottom-color: rgb(144 9 66 / var(--tw-border-opacity));
}

.border-b-secondary {
    --tw-border-opacity: 1;
    border-bottom-color: rgb(221 219 219 / var(--tw-border-opacity));
}

.border-b-white\/\[\.5\] {
    border-bottom-color: rgb(255 255 255 / .5);
}

.\!bg-white {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important;
}

.bg-\[\#F2F0F5\] {
    --tw-bg-opacity: 1;
    background-color: rgb(242 240 245 / var(--tw-bg-opacity));
}

.bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.bg-primary {
    --tw-bg-opacity: 1;
    background-color: rgb(144 9 66 / var(--tw-bg-opacity));
}

.bg-primary\/\[\.79\] {
    background-color: rgb(144 9 66 / .79);
}

.bg-transparent {
    background-color: transparent;
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-white\/\[\.95\] {
    background-color: rgb(255 255 255 / .95);
}

.bg-opacity-75 {
    --tw-bg-opacity: 0.75;
}

.bg-\[url\(\'\.\.\/images\/footer-bg-mobile\.png\'\)\] {
    background-image: url('../images/footer-bg-mobile.png');
}

.bg-none {
    background-image: none;
}

.bg-contain {
    background-size: contain;
}

.bg-cover {
    background-size: cover;
}

.bg-\[center_bottom_350px\] {
    background-position: center bottom 350px;
}

.bg-center {
    background-position: center;
}

.bg-left {
    background-position: left;
}

.bg-no-repeat {
    background-repeat: no-repeat;
}

.object-contain {
    -o-object-fit: contain;
    object-fit: contain;
}

.object-cover {
    -o-object-fit: cover;
    object-fit: cover;
}

.object-bottom {
    -o-object-position: bottom;
    object-position: bottom;
}

.object-center {
    -o-object-position: center;
    object-position: center;
}

.object-left {
    -o-object-position: left;
    object-position: left;
}

.object-left-bottom {
    -o-object-position: left bottom;
    object-position: left bottom;
}

.object-left-top {
    -o-object-position: left top;
    object-position: left top;
}

.object-right {
    -o-object-position: right;
    object-position: right;
}

.object-right-bottom {
    -o-object-position: right bottom;
    object-position: right bottom;
}

.object-right-top {
    -o-object-position: right top;
    object-position: right top;
}

.object-top {
    -o-object-position: top;
    object-position: top;
}

.\!p-0 {
    padding: 0px !important;
}

.p-0 {
    padding: 0px;
}

.p-4 {
    padding: 1rem;
}

.p-5 {
    padding: 1.25rem;
}

.p-7 {
    padding: 1.75rem;
}

.px-0 {
    padding-left: 0px;
    padding-right: 0px;
}

.px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.px-1\.5 {
    padding-left: 0.375rem;
    padding-right: 0.375rem;
}

.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.px-2\.5 {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}

.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.px-\[18px\] {
    padding-left: 18px;
    padding-right: 18px;
}

.py-0 {
    padding-top: 0px;
    padding-bottom: 0px;
}

.py-0\.5 {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.py-2\.5 {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}

.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.py-9 {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
}

.\!pb-0 {
    padding-bottom: 0px !important;
}

.\!pt-0 {
    padding-top: 0px !important;
}

.pb-0 {
    padding-bottom: 0px;
}

.pb-0\.5 {
    padding-bottom: 0.125rem;
}

.pb-1 {
    padding-bottom: 0.25rem;
}

.pb-10 {
    padding-bottom: 2.5rem;
}

.pb-16 {
    padding-bottom: 4rem;
}

.pb-2 {
    padding-bottom: 0.5rem;
}

.pb-2\.5 {
    padding-bottom: 0.625rem;
}

.pb-3 {
    padding-bottom: 0.75rem;
}

.pb-4 {
    padding-bottom: 1rem;
}

.pb-5 {
    padding-bottom: 1.25rem;
}

.pb-6 {
    padding-bottom: 1.5rem;
}

.pb-7 {
    padding-bottom: 1.75rem;
}

.pb-9 {
    padding-bottom: 2.25rem;
}

.pb-\[calc\(calc\(310\/247\)_\*_100\%\)\] {
    padding-bottom: calc(calc(310 / 247) * 100%);
}

.pl-11 {
    padding-left: 2.75rem;
}

.pl-12 {
    padding-left: 3rem;
}

.pl-14 {
    padding-left: 3.5rem;
}

.pl-6 {
    padding-left: 1.5rem;
}

.pl-7 {
    padding-left: 1.75rem;
}

.pr-11 {
    padding-right: 2.75rem;
}

.pr-14 {
    padding-right: 3.5rem;
}

.pr-20 {
    padding-right: 5rem;
}

.pr-3 {
    padding-right: 0.75rem;
}

.pr-4 {
    padding-right: 1rem;
}

.pr-6 {
    padding-right: 1.5rem;
}

.pr-7 {
    padding-right: 1.75rem;
}

.pr-\[40px\] {
    padding-right: 40px;
}

.pr-\[50px\] {
    padding-right: 50px;
}

.pr-\[66px\] {
    padding-right: 66px;
}

.pt-0 {
    padding-top: 0px;
}

.pt-0\.5 {
    padding-top: 0.125rem;
}

.pt-14 {
    padding-top: 3.5rem;
}

.pt-2 {
    padding-top: 0.5rem;
}

.pt-3 {
    padding-top: 0.75rem;
}

.pt-4 {
    padding-top: 1rem;
}

.pt-5 {
    padding-top: 1.25rem;
}

.pt-7 {
    padding-top: 1.75rem;
}

.pt-9 {
    padding-top: 2.25rem;
}

.pt-\[44px\] {
    padding-top: 44px;
}

.pt-\[85px\] {
    padding-top: 85px;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.font-prata {
    font-family: "Prata", serif;
}

.font-theme {
    font-family: "serenity", sans-serif;
}

.\!font-medium {
    font-weight: 500 !important;
}

.font-light {
    font-weight: 300;
}

.font-medium {
    font-weight: 500;
}

.font-normal {
    font-weight: 400;
}

.font-semibold {
    font-weight: 600;
}

.uppercase {
    text-transform: uppercase;
}

.italic {
    font-style: italic;
}

.leading-8 {
    line-height: 2rem;
}

.leading-none {
    line-height: 1;
}

.leading-normal {
    line-height: 1.5;
}

.leading-tight {
    line-height: 1.25;
}

.tracking-\[0\.15em\] {
    letter-spacing: 0.15em;
}

.tracking-\[0\] {
    letter-spacing: 0;
}

.tracking-wider {
    letter-spacing: 0.05em;
}

.\!text-\[\#262525\] {
    --tw-text-opacity: 1 !important;
    color: rgb(38 37 37 / var(--tw-text-opacity)) !important;
}

.\!text-black {
    --tw-text-opacity: 1 !important;
    color: rgb(0 0 0 / var(--tw-text-opacity)) !important;
}

.text-\[\#262525\] {
    --tw-text-opacity: 1;
    color: rgb(38 37 37 / var(--tw-text-opacity));
}

.text-\[\#8B8A8A\] {
    --tw-text-opacity: 1;
    color: rgb(139 138 138 / var(--tw-text-opacity));
}

.text-black {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
}

.text-neutral-800 {
    --tw-text-opacity: 1;
    color: rgb(38 38 38 / var(--tw-text-opacity));
}

.text-primary {
    --tw-text-opacity: 1;
    color: rgb(144 9 66 / var(--tw-text-opacity));
}

.text-secondary {
    --tw-text-opacity: 1;
    color: rgb(221 219 219 / var(--tw-text-opacity));
}

.text-transparent {
    color: transparent;
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.underline {
    text-decoration-line: underline;
}

.\!no-underline {
    text-decoration-line: none !important;
}

.no-underline {
    text-decoration-line: none;
}

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.shadow-lg {
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-theme {
    --tw-shadow: 3px 3px 15px rgba(0, 0, 0, 0.16);
    --tw-shadow-colored: 3px 3px 15px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@media (min-width: 1024px) {

    .lg\:absolute {
        position: absolute;
    }

    .lg\:left-0 {
        left: 0px;
    }

    .lg\:left-\[50px\] {
        left: 50px;
    }

    .lg\:right-8 {
        right: 2rem;
    }

    .lg\:right-\[50px\] {
        right: 50px;
    }

    .lg\:top-0 {
        top: 0px;
    }

    .lg\:top-4 {
        top: 1rem;
    }

    .lg\:order-3 {
        order: 3;
    }

    .lg\:col-span-3 {
        grid-column: span 3 / span 3;
    }

    .lg\:col-span-9 {
        grid-column: span 9 / span 9;
    }

    .lg\:mx-\[calc\(-100vw_\/_2_\+_100\%_\/_2\)\] {
        margin-left: calc(-100vw / 2 + 100% / 2);
        margin-right: calc(-100vw / 2 + 100% / 2);
    }

    .lg\:-mt-1 {
        margin-top: -0.25rem;
    }

    .lg\:mb-0 {
        margin-bottom: 0px;
    }

    .lg\:mb-12 {
        margin-bottom: 3rem;
    }

    .lg\:mb-14 {
        margin-bottom: 3.5rem;
    }

    .lg\:mb-16 {
        margin-bottom: 4rem;
    }

    .lg\:mb-2 {
        margin-bottom: 0.5rem;
    }

    .lg\:mb-2\.5 {
        margin-bottom: 0.625rem;
    }

    .lg\:mb-5 {
        margin-bottom: 1.25rem;
    }

    .lg\:mr-8 {
        margin-right: 2rem;
    }

    .lg\:mt-\[-12\.375rem\] {
        margin-top: -12.375rem;
    }

    .lg\:block {
        display: block;
    }

    .lg\:flex {
        display: flex;
    }

    .lg\:h-full {
        height: 100%;
    }

    .lg\:w-1\/2 {
        width: 50%;
    }

    .lg\:w-\[168px\] {
        width: 168px;
    }

    .lg\:w-\[409px\] {
        width: 409px;
    }

    .lg\:w-auto {
        width: auto;
    }

    .lg\:w-full {
        width: 100%;
    }

    .lg\:min-w-max {
        min-width: -moz-max-content;
        min-width: max-content;
    }

    .lg\:max-w-\[calc\(100\%_-_3rem\)\] {
        max-width: calc(100% - 3rem);
    }

    .lg\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .lg\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .lg\:grid-cols-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .lg\:flex-row {
        flex-direction: row;
    }

    .lg\:items-start {
        align-items: flex-start;
    }

    .lg\:items-stretch {
        align-items: stretch;
    }

    .lg\:justify-end {
        justify-content: flex-end;
    }

    .lg\:gap-4 {
        gap: 1rem;
    }

    .lg\:gap-8 {
        gap: 2rem;
    }

    .lg\:self-center {
        align-self: center;
    }

    .lg\:border-b-\[8px\] {
        border-bottom-width: 8px;
    }

    .lg\:bg-\[center_bottom_280px\] {
        background-position: center bottom 280px;
    }

    .lg\:px-0 {
        padding-left: 0px;
        padding-right: 0px;
    }

    .lg\:px-12 {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .lg\:px-5 {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }

    .lg\:px-8 {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .lg\:px-\[50px\] {
        padding-left: 50px;
        padding-right: 50px;
    }

    .lg\:py-4 {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .lg\:py-6 {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .lg\:py-9 {
        padding-top: 2.25rem;
        padding-bottom: 2.25rem;
    }

    .lg\:pb-32 {
        padding-bottom: 8rem;
    }

    .lg\:pl-2 {
        padding-left: 0.5rem;
    }

    .lg\:pl-2\.5 {
        padding-left: 0.625rem;
    }

    .lg\:pl-\[112px\] {
        padding-left: 112px;
    }

    .lg\:pl-\[30px\] {
        padding-left: 30px;
    }

    .lg\:pr-0 {
        padding-right: 0px;
    }

    .lg\:pr-6 {
        padding-right: 1.5rem;
    }

    .lg\:pr-\[112px\] {
        padding-right: 112px;
    }

    .lg\:pt-10 {
        padding-top: 2.5rem;
    }

    .lg\:pt-2 {
        padding-top: 0.5rem;
    }

    .lg\:pt-3 {
        padding-top: 0.75rem;
    }

    .lg\:pt-7 {
        padding-top: 1.75rem;
    }

    .lg\:pt-9 {
        padding-top: 2.25rem;
    }

    .lg\:pt-\[146px\] {
        padding-top: 146px;
    }

    .lg\:pt-\[45px\] {
        padding-top: 45px;
    }

    .lg\:text-left {
        text-align: left;
    }

    .lg\:text-right {
        text-align: right;
    }

    .lg\:after\:w-\[100px\]::after {
        content: var(--tw-content);
        width: 100px;
    }

    .lg\:after\:w-\[184px\]::after {
        content: var(--tw-content);
        width: 184px;
    }
}
.wp-block-acf-text-image-block .container a.button,
.wp-block-acf-latest-week-block .container a.button,
.wp-block-acf-banner-intro-block .content a.button {
    position: relative;
    margin-bottom: 2rem;
    display: inline-block;
    border: none;
    background: white;
    padding-bottom: 0.25rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    --tw-text-opacity: 1 !important;
    color: var(--wp--preset--color--black) !important;
    text-decoration-line: none !important;
    font-size: 1.2rem;
}
.wp-block-acf-text-image-block .container a.button::before,
.wp-block-acf-latest-week-block .container a.button::before,
.wp-block-acf-banner-intro-block .content a.button::before {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 0.25rem;
    width: 100%;
    border-radius: 2px;
    background-color: var(--wp--preset--color--gray);
    content: '';
}
.wp-block-acf-text-image-block .container a.button::after,
.wp-block-acf-latest-week-block .container a.button::after,
.wp-block-acf-banner-intro-block .content a.button::after {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 0.25rem;
    width: 0px;
    border-radius: 2px;
    background-color: var(--wp--preset--color--primary);
    transition-duration: 300ms;
    transition-timing-function: linear;
    content: '';
}
.wp-block-acf-text-image-block .container a.button:hover::after,
.wp-block-acf-latest-week-block .container a.button:hover::after,
.wp-block-acf-banner-intro-block a.button:hover::after {
    content: '';
    width: 100%;
}

.button-with-arrow.white {
    position: relative;
    display: inline-block;
    padding-right: 66px;
    font-family: "serenity", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    text-decoration-line: none;
    font-size: 1rem;
}

.button-with-arrow.white::after {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 48px;
    transform-origin: top;
    background-size: contain;
    background-repeat: no-repeat;
    transition-duration: 300ms;
    --tw-content: '';
    content: var(--tw-content);
}

.button-with-arrow.white:hover {
    --tw-translate-y: 0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-text-opacity: 1;
    color: rgb(250 226 183 / var(--tw-text-opacity));
    text-decoration-line: none;
}

.button-with-arrow.white:hover::after {
    content: var(--tw-content);
    --tw-translate-x: 1rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@media (min-width: 1280px) {
    .button-with-arrow.white {
        padding-right: 140px;
    }

    .button-with-arrow.white::after {
        content: var(--tw-content);
        width: 100px;
    }
}

.button-with-arrow.white:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100.579' height='13' viewBox='0 0 100.579 13'%3E%3Cg data-name='Group 7'%3E%3Cpath data-name='Path 107' d='M95.125,6.278H7.089c-.308,0-.558-.487-.558-1.089S6.782,4.1,7.089,4.1H95.125c.308,0,.557.488.557,1.089s-.25,1.089-.557,1.089' transform='translate(0.349 1.325)' fill='%23fff'/%3E%3Cpath data-name='Path 108' d='M0,13,6.245,6.5,0,0H6.842l6.245,6.5L6.842,13Z' transform='translate(0 0)' fill='%23fff'/%3E%3Cpath data-name='Path 109' d='M9.05,13l6.245-6.5L9.05,0h6.842l6.245,6.5L15.892,13Z' transform='translate(0.484 0)' fill='%23fff'/%3E%3Cpath data-name='Path 110' d='M18.1,13l6.245-6.5L18.1,0h6.842l6.245,6.5L24.942,13Z' transform='translate(0.967 0)' fill='%23fff'/%3E%3Cpath data-name='Path 111' d='M82.439.225,96.173,6.441,82.439,12.657a47.054,47.054,0,0,0,1.188-6.216A47.054,47.054,0,0,0,82.439.225' transform='translate(4.406 0.073)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: right center;
}

.button-with-arrow.white:hover:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100.579' height='13' viewBox='0 0 100.579 13'%3E%3Cg data-name='Group 7'%3E%3Cpath data-name='Path 107' d='M95.125,6.278H7.089c-.308,0-.558-.487-.558-1.089S6.782,4.1,7.089,4.1H95.125c.308,0,.557.488.557,1.089s-.25,1.089-.557,1.089' transform='translate(0.349 1.325)' fill='%23FAE2B7'/%3E%3Cpath data-name='Path 108' d='M0,13,6.245,6.5,0,0H6.842l6.245,6.5L6.842,13Z' transform='translate(0 0)' fill='%23FAE2B7'/%3E%3Cpath data-name='Path 109' d='M9.05,13l6.245-6.5L9.05,0h6.842l6.245,6.5L15.892,13Z' transform='translate(0.484 0)' fill='%23FAE2B7'/%3E%3Cpath data-name='Path 110' d='M18.1,13l6.245-6.5L18.1,0h6.842l6.245,6.5L24.942,13Z' transform='translate(0.967 0)' fill='%23FAE2B7'/%3E%3Cpath data-name='Path 111' d='M82.439.225,96.173,6.441,82.439,12.657a47.054,47.054,0,0,0,1.188-6.216A47.054,47.054,0,0,0,82.439.225' transform='translate(4.406 0.073)' fill='%23FAE2B7'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: right center;
}

/** acf-latest-week-block */
.wp-block-acf-latest-week-block .container {
    padding: 0 !important;
    box-sizing: border-box;
}

.wp-block-acf-latest-week-block .container .image-wrapper > div {
    box-sizing: border-box;
    min-height: 100%;
}

.wp-block-acf-latest-week-block .container .aspect-square,
.wp-block-acf-latest-week-block .container .aspect-square > .object-cover {
    height: 100% !important;
}

.latest-week-block {

    margin-bottom: 2.5rem
}

.wp-block-acf-latest-week-block .latest-week-events ul {
    font-size: 1.2rem !important;
    padding-left: 0;
    margin: 0;
}

@media (min-width: 1024px) {

    .latest-week-block {

        margin-bottom: 7rem
    }
}

.latest-week-block .latest-week-events {
    margin-bottom: 1rem;
    max-height: 209px;
    min-height: 209px;
    overflow-y: auto;
    border-bottom-width: 1px;
    border-bottom-color: rgb(255 255 255 / .5);
    padding-right: 0.75rem
}

@media (min-width: 1280px) {

    .latest-week-block .latest-week-events {
        margin-bottom: 2rem;
        max-height: 302px
    }
}

@media (min-width: 1536px) {

    .latest-week-block .latest-week-events {
        max-height: 418px
    }
}

@media (min-width: 1630px) {

    .latest-week-block .latest-week-events {
        max-height: 530px
    }
}

.latest-week-block .latest-week-events::-webkit-scrollbar {
    width: 14px
}

/* Track */
.latest-week-block .latest-week-events::-webkit-scrollbar-track {
    background-color: transparent
}

/* Handle */
.latest-week-block .latest-week-events::-webkit-scrollbar-thumb {
    border-radius: 14px;
    background-color: rgb(255 255 255 / .79)
}

/* Handle on hover */
.latest-week-block .latest-week-events::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background-color: rgb(255 255 255 / 1)
}

.latest-week-block .latest-week-events ul li {
    border-bottom-width: 1px;
    border-bottom-color: rgb(255 255 255 / .5);
    padding-top: 1.25rem;
    padding-bottom: 1.25rem
}

.latest-week-block .latest-week-events ul li:last-child {
    border-bottom-width: 0
}

/** acf-banner-intro-block */
.wp-block-acf-banner-intro-block ul#breadcrumbs {
    padding-left: 0;
}

.wp-block-acf-banner-intro-block ul#breadcrumbs li {
    list-style: none;
}

/** image grid */
.wp-block-acf-images-grid-block .images-grid {
    margin: 2rem 0;
}

.wp-block-acf-images-grid-block .images-grid .image-col .image-title {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-family: "Prata", serif;
    line-height: 1.44;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    transition-duration: 300ms;
    font-size: 1rem;
}

/** wp-block-acf-text-image-block **/
.wp-block-acf-text-image-block{
    overflow: hidden;
}
.wp-block-acf-text-image-block .text-image-block .text-image-contentcol,
.wp-block-acf-text-image-block .text-image-block .text-image-imgcol {
    width: 50%;
}
.wp-block-acf-text-image-block .text-image-block .text-image-contentcol{
    padding-right:2.5rem;
}
.flex-row-reverse {
    flex-direction: row-reverse;
}

@media (min-width: 768px) {
    .md\:flex-row-reverse {
        flex-direction: row-reverse;
    }
    .md\:hidden{
        display:none;
    }
    .md\:block{
        display:block;
    }
}


/** wp-block-acf-image-gallery */
.wp-block-acf-image-gallery .image-gallery-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.wp-block-acf-image-gallery .image-gallery-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.wp-block-acf-image-gallery .image-gallery-grid .image-item {
    position: relative;
    margin-bottom: 0.75rem;
    display: none;
    min-width: 240px;
    flex: 1 1 auto;
}
.wp-block-acf-image-gallery .image-gallery-grid .image-item:first-child {
    display: block;
}
@media (min-width: 768px) {
    .wp-block-acf-image-gallery .image-gallery-grid .image-item {
        margin-right: 0.75rem;
        display: block;
    }
}
.wp-block-acf-image-gallery .image-gallery-grid .image-item .image-wrapper {
    position: relative;
    height: 316px;
    width: 100%;
    overflow: hidden;
}
.wp-block-acf-image-gallery .image-gallery-grid .image-item .image-wrapper img {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    transition-duration: 300ms;
}
.wp-block-acf-image-gallery .image-gallery-grid .image-item:hover .image-wrapper img {
    --tw-scale-x: 1.1;
    --tw-scale-y: 1.1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
@media only screen and (min-width: 1024px) {
    /* Horizontal masonry bricks on desktop-sized screen */
    .wp-block-acf-image-gallery .image-gallery-grid .image-item:nth-child(4n+1) {
        width: 398px;
    }
    .wp-block-acf-image-gallery .image-gallery-grid .image-item:nth-child(4n+2) {
        width: 372px;
    }
    .wp-block-acf-image-gallery .image-gallery-grid .image-item:nth-child(4n+3) {
        width: 240px;
    }
    .wp-block-acf-image-gallery .image-gallery-grid .image-item:nth-child(4n+4) {
        width: 316px;
    }
}

/** wp-block-acf-pagelinks-block */
.wp-block-acf-pagelinks-block .card-pagelink{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.wp-block-acf-pagelinks-block .card-pagelink .card-header{
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-bottom: calc(calc(310 / 247) * 100%);
}

.wp-block-acf-pagelinks-block .card-pagelink .card-header img{
    position: absolute;
    left: 0px;
    top: 0px;
    transition-duration: 300ms;
    min-height:100%;
}
.wp-block-acf-pagelinks-block .card-pagelink:hover .card-header img{
    --tw-scale-x: 1.1;
    --tw-scale-y: 1.1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.wp-block-acf-pagelinks-block .card-pagelink .card-body{
    position: absolute;
    box-sizing: border-box;
    bottom: 0px;
    display: flex;
    min-height: 136px;
    width: 100%;
    align-items: flex-end;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 0.625rem;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.42) 40%, rgba(0,0,0,1) 100%);
}

.wp-block-acf-pagelinks-block .card-pagelink .card-body .title{
    margin-bottom: 0px;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    transition-duration: 300ms;
    font-size: 1.2rem;
}

.wp-block-acf-pagelinks-block .card-pagelink:hover .card-body .title{
    --tw-text-opacity: 1;
    color: rgb(250 226 183 / var(--tw-text-opacity));
}

/** wp-block-acf-team-list-block */
ul.taxonomy-list{
    padding-left:0;
}
ul.taxonomy-list li{
    list-style: none;

}
.taxonomy-list a {
    position: relative;
    display: inline-block;
    padding-bottom: 0.25rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    text-decoration-line: none !important;
    font-size: clamp(1.125rem, calc(1.125rem + ((1.5 - 1.125) * ((100vw - 20rem) / (96 - 20)))), 1.5rem);
}
.taxonomy-list a::before {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 0.25rem;
    width: 100%;
    border-radius: 2px;
    --tw-bg-opacity: 1;
    background-color: rgb(239 234 237 / var(--tw-bg-opacity));
    --tw-content: '';
    content: var(--tw-content);
}
.taxonomy-list a::after {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 0.25rem;
    width: 0px;
    border-radius: 2px;
    --tw-bg-opacity: 1;
    background-color: rgb(144 9 66 / var(--tw-bg-opacity));
    transition-duration: 300ms;
    transition-timing-function: linear;
    --tw-content: '';
    content: var(--tw-content);
}
.taxonomy-list a:hover::after {
    content: var(--tw-content);
    width: 100%;
}
.taxonomy-list a.active::before {
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: rgb(144 9 66 / var(--tw-bg-opacity));
}

/** Event card **/
.card-wide{
    margin-bottom: 1.75rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding: 1.25rem;
    --tw-shadow: 3px 3px 15px rgba(0, 0, 0, 0.16);
    --tw-shadow-colored: 3px 3px 15px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.card-wide:hover{
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
@media (min-width: 640px){

    .card-wide{
        flex-direction: row;
    }
}
.card-wide .card-header{
    position: relative;
    margin-bottom: 1.25rem;
    display: block;
    width: 100%;
}
@media (min-width: 640px){

    .card-wide .card-header{
        margin-bottom: 0px;
        width: 200px;
    }
}
@media (min-width: 768px){

    .card-wide .card-header{
        width: 245px;
    }
}
.card-wide .card-header .image-wrapper{
    position: relative;
    aspect-ratio: 1 / 1;
    width: 100%;
    overflow: hidden;
}
@media (min-width: 640px){

    .card-wide .card-header .image-wrapper{
        width: 200px;
    }
}
@media (min-width: 768px){

    .card-wide .card-header .image-wrapper{
        width: 245px;
    }
}
.card-wide .card-header .image-wrapper img{
    position: absolute;
    top: 0px;
    left: 0px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    transition-duration: 300ms;
}
.card-wide:hover .card-header .image-wrapper img{
    --tw-scale-x: 1.1;
    --tw-scale-y: 1.1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.card-wide .card-body{
    flex: 1 1 0%;
}
@media (min-width: 640px){

    .card-wide .card-body{
        padding-left: 1.25rem;
    }
}
@media (min-width: 1024px){

    .card-wide .card-body{
        padding-left: 30px;
    }
}
.card-wide .card-body .title{
    margin-bottom: 0.5rem;
    font-family: "Prata", serif;
    --tw-text-opacity: 1;
    color: rgb(144 9 66 / var(--tw-text-opacity));
    font-size: clamp(1.25rem, calc(1.25rem + ((1.875 - 1.25) * ((100vw - 20rem) / (96 - 20)))), 1.875rem);
}
.card-wide .card-body .date{
    margin-bottom: 0.5rem;
    font-weight: 500;
}
.card-wide .card-body .excerpt p{
    font-weight: 300;
    font-size: clamp(1.125rem, calc(1.125rem + ((1.5 - 1.125) * ((100vw - 20rem) / (96 - 20)))), 1.5rem);
}
.card-wide .card-body .excerpt p a{
    font-weight: 500;
    font-size: clamp(1.125rem, calc(1.125rem + ((1.5 - 1.125) * ((100vw - 20rem) / (96 - 20)))), 1.5rem);
}

.mfp-hide{
    display:none;
}
